Repository fubhy/effect-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @IMax153, @tim-smart, @gcanti

updated package.json files
  packages/cli/package.json
  packages/effect/package.json
  packages/opentelemetry/package.json
  packages/platform-browser/package.json
  packages/platform-bun/package.json
  packages/platform-node/package.json
  packages/platform/package.json
  packages/printer-ansi/package.json
  packages/printer/package.json
  packages/rpc-http-node/package.json
  packages/rpc-http/package.json
  packages/rpc-nextjs/package.json
  packages/rpc-workers/package.json
  packages/rpc/package.json
  packages/schema/package.json
  packages/typeclass/package.json
  pnpm-lock.yaml
Owners: @IMax153, @tim-smart, @mikearnaldi, @gcanti

update schema readme
  packages/schema/README.md
Owners: @gcanti

update schema readme
  packages/schema/README.md
Owners: @gcanti

enable auto-rebase of release branches
  .github/workflows/release-queue.yml
Owners: @mikearnaldi

enable auto-rebase of release branches (#22)
  .github/workflows/release-queue.yml
Owners: @mikearnaldi

update schema readme
  packages/schema/CHANGELOG.md
  packages/schema/README.md
  packages/schema/package.json
  packages/schema/src/Arbitrary.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/attachPropertySignature.test.ts
Owners: @gcanti

rename workflow
  .github/workflows/release.yml
Owners: @mikearnaldi

.github/CODEOWNERS:

*                               @mikearnaldi

/packages/effect/               @mikearnaldi
/packages/cli/                  @IMax153 @tim-smart
/packages/opentelemetry/        @tim-smart @mikearnaldi
/packages/platform/             @tim-smart
/packages/platform-browser/     @tim-smart
/packages/platform-bun/         @tim-smart
/packages/platform-node/        @tim-smart
/packages/printer/              @IMax153 @mikearnaldi
/packages/printer-ansi/         @IMax153 @mikearnaldi
/packages/rpc/                  @tim-smart
/packages/rpc-http/             @tim-smart
/packages/rpc-http-node/        @tim-smart
/packages/rpc-nextjs/           @tim-smart
/packages/rpc-workers/          @tim-smart
/packages/schema/               @gcanti
/packages/typeclass/            @tim-smart @gcanti
